.dashboard-header header {
  width: 100%;
  background: url("../assets/img/pc-hero-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.dashboard-select-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30rem 0rem 15rem 0;
  width: 80%;
  margin: 0 auto;
}
.dashboard-select-opt {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content max-content;
  width: 100%;
}
.dash-sel-opt-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dash-sel-opt-content label {
  font-size: 1.15rem;
  color: var(--black);
  font-weight: 400;
  margin: 0 0 0.5rem 0;
}
.dash-sel-opt-content select {
  border: 2px solid var(--main-purple);
  padding: 1rem 4rem;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--black);
}
.dash-sel-opt-content select:focus {
  outline: none;
}
.dash-sel-opt-content select option {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--black);
}
.dash-sel-opt-content select:nth-child(1) {
  border-right: 0;
  border-radius: 0.75rem 0 0 0.75rem;
}
.dash-sel-opt-content select:nth-child(2),
.dash-sel-opt-content select:nth-child(3) {
  border-right: 0;
}
.dash-sel-opt-content select:nth-child(4) {
  border-right: 0;
}
.das-search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(30deg, #fca040, #c22e80);
  border-radius: 0 0.75rem 0.75rem 0;
  padding: 0 0.75rem;
  border: 2px solid var(--main-purple);
  height: 68%;
  margin: auto 0 0 0;
  border-left: 0;
  cursor: pointer;
}
.das-search-btn svg {
  font-size: 3rem;
  color: var(--white);
}
.dashboard-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
  border: 2px solid var(--main-purple);
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--black);
  background-color: transparent;
  padding: 0.5rem 1rem;
  margin: auto 0;
}
.dashboard-btn button svg {
  color: #c22e80;
  margin: 0 1.5rem 0 0;
  font-size: 4.25rem;
}
.risul-ordino-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.risul-ordino-box h2 {
  font-size: 2.5rem;
  color: var(--black);
  font-weight: 500;
}
.risul-ordino-box h6 {
  font-size: 1.8rem;
  color: var(--black);
  font-weight: 500;
}

.pmg-right-card {
  width: 100%;
  border-radius: 1.5rem;
  background-image: url("../assets/img/pc-card-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem;
}
.pmg-right-card h3 {
  font-size: 3.25rem;
}
.pmg-rc-left p {
  font-size: 1.5rem;
  margin: 1.5rem 0 5rem 0;
}
.pmg-rc-right .pc-70-box {
  margin: 5rem auto 0 auto;
  width: 65%;
}
.pmg-rc-right .pc-hero-icon-grid {
  grid-gap: 2.5rem;
}
.pc-hero-icon-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 5rem;
}
.pmg-btn-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 0 0 0;
}
.pc-hero-icon-grid-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.pmg-rc-right .pc-hero-icon-grid-card img {
  height: 4rem;
  margin: 0 0 1.5rem 0;
}
.pmg-rc-right .pc-hero-icon-grid-card p {
  font-size: 1.5rem;
}
.pc-70-box p {
  font-size: 1.75rem;
}
.profile-box-dash {
  width: 50%;
  margin: 6rem auto;
}
.pc-hero-icon-grid-card p {
  font-size: 1.65rem;
  text-align: center;
}
.pc-70-box p {
  font-size: 2rem;
  margin: 0 5rem 0 0;
  text-align: center;
}
.pmg-rc-right .pc-70-box {
  margin: 5rem auto 0 auto;
  width: 65%;
}
.pc-70-box {
  width: 100%;
  margin: 10rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1150px) {
  .dashboard-select-btn {
    width: 100%;
  }
  .dash-sel-opt-content select {
    padding: 1rem 2.5rem;
  }
}

@media screen and (max-width: 1000px) {
  .dashboard-select-btn {
    flex-direction: column;
  }
  .dash-sel-opt-content select {
    padding: 1rem 2rem;
  }
  .dashboard-select-opt {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
  }
  .dash-sel-opt-content select {
    border-radius: 0.75rem;
    border: 2px solid var(--main-purple);
    width: 100%;
    border-right: 2px solid var(--main-purple) !important;
  }
  .das-search-btn {
    border-left: 2px solid var(--main-purple);
    border-radius: 0.75rem;
  }
  .dashboard-btn {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 3rem 0 0 0;
    width: 100%;
  }
  .profile-box-dash {
    width: 100%;
    margin: 6rem auto;
  }
}

@media screen and (max-width: 750px) {
  .dashboard-select-opt {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
  .dashboard-btn button {
    width: 100%;
  }
  .das-search-btn {
    height: 100%;
    padding: 0.75rem 0;
  }
  .dash-sel-opt-content label {
    font-size: 1.35rem;
  }
  .dash-sel-opt-content select {
    font-size: 1.4rem;
  }
  .dash-sel-opt-content select option {
    font-size: 1.4rem;
  }
  .pc-70-box p {
    margin: 0 0 2.5rem 0;
  }
}
